{% extends 'base.html' %}

{% block title %}'Dashboards'{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-12">
            
            {% if has_addresses %}
                <div class="d-flex justify-content-between justify-items-end align-items-center mb-3">
                    <h2 class="mb-3">Mapa de Casos de Dengue</h2>

                    {% if needs_update %}
                    <small class="text-muted ml-4">
                        Existem endereços que ainda não foram mapeados.
                    </small>
                        <a href="{% url 'generate_map' %}" class="btn btn-warning">
                            <i class="fas fa-sync-alt"></i> Atualizar Endereços e Mapa
                        </a>
                    {% else %}
                        <a href="{% url 'generate_map' %}" class="btn btn-primary">
                            <i class="fas fa-sync-alt"></i> Atualizar Mapa
                        </a>
                    {% endif %}
                </div>

                {% if map_url %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <iframe src="{{ map_url }}" width="100%" height="700" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        Clique no botão acima para gerar o mapa com as localizações dos casos.
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-info">
                    Nenhum caso registrado ainda. O mapa será exibido quando houver casos cadastrados.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}